In [1]:
import pandas as pd
import psycopg2

conn = psycopg2.connect(
    dbname="neondb",
    user="neondb_owner",
    password="npg_Yx3iRdyceB4h",
    host="ep-nameless-snow-a48hdbkf.us-east-1.aws.neon.tech",
    sslmode="require"
)

# List your tables
tables = [
    "customers", "employees", "services", "accounts",
    "loans", "interactions", "appointments", "complaints"
]

# Loop and export
for table in tables:
    df = pd.read_sql_query(f"SELECT * FROM {table};", conn)
    df.to_csv(f"{table}.csv", index=False)
    print(f"Exported: {table}.csv")

conn.close()

/var/folders/wn/f9dqwf512q52fzs0t0yk_4jw0000gn/T/ipykernel_32912/3761786132.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f"SELECT * FROM {table};", conn)

Exported: customers.csv
Exported: employees.csv
Exported: services.csv
Exported: accounts.csv
Exported: loans.csv
Exported: interactions.csv
Exported: appointments.csv
Exported: complaints.csv

In [5]:
df = pd.read_csv("accounts.csv")

In [6]:
df.head()

   1  43      Loan  35120.83  Suspended  2020-09-16 16:00:52.177966
0  2  42   Savings  30495.64     Active  2023-03-10 14:56:26.065401
1  3  35  Checking   8253.78     Closed  2023-01-15 01:20:42.643121
2  4  18  Checking  34262.25     Active  2021-04-03 15:16:52.185776
3  5  15   Savings  40271.79     Closed  2023-06-21 01:35:42.465687
4  6  18   Savings  10628.04  Suspended  2022-10-01 12:35:46.959628

In [4]:
for table in tables:
    df = pd.read_csv(f"{table}.csv", header=0)  # Read the CSV with headers
    df.to_csv(f"{table}.csv", index=False, header=False)  # Write back without headers
    print(f"Headers removed: {table}.csv")

Headers removed: customers.csv
Headers removed: employees.csv
Headers removed: services.csv
Headers removed: accounts.csv
Headers removed: loans.csv
Headers removed: interactions.csv
Headers removed: appointments.csv
Headers removed: complaints.csv